.dropdown {
  position: absolute;
  top: -35px;
  text-align: center;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 5px;
}

.left {
  left: 70px;
}

.dropdown::before {
  content: '';
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translate(-100%, -50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}

.right {
  left: auto;
  right: 70px;
}

.right::before {
  transform: translate(0, -50%);
  left: 99px;
  border-color: transparent transparent transparent #fff;
}

.dropdown button {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: #fff;
  color: #000;
}

.dropdown button:nth-child(2) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
