.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 0;
  z-index: 10;
}

.images {
  margin-left: 200px;
  display: flex;
  gap: 50px;
}

.images img {
  height: 75px;
  width: 55px;
}

.found {
  filter: grayscale(100%);
}

.timer {
  margin: 0 200px 0 auto;
  font-size: 2rem;
  font-weight: bold;
}
